/***** Global stuff *****/
.pricy-inject {
	color: white;
}

.pricy-inject.pricy-error {
	color: red;
}

.pricy-favicon {
	position:relative;
	width: 25px;
}

.pricy-favicon.pricy-bazaartf {
	top:-1px
	left:2px;
}

.pricy-favicon.pricy-tf2op {
	top:7px;
	left:5px;
}

.pricy-favicon.pricy-tf2wh {
	top:6px;
	left:2px;
}

.pricy-stockblocked {
	color: red;
}

div.pricy-container {
	display: block;
	width: inherit;
}

.pricy-inject {
}

/**** TF2WH Popup (since they don't have one we can hijack) ****/
.pricy-tf2wh.pricy-popup {
	display: inline-block;
	padding: 10px;
	position: relative;
	left: calc(-50% - 105px);
	width: 450px;
	z-index: 99;
}

.pricy-tf2wh.pricy-popup > div {
	display: none;
	background-color: black;
	border: 3px solid black;
	border-radius: 6px;
	padding:5px 10px 10px 10px;
}

.pricy-tf2wh.pricy-popup > div > p {
	margin: 0px;
	white-space: nowrap;
}

.entry:hover > .pricy-tf2wh.pricy-popup > div {
	display: inline-table;
}

/* Hacking TF2WH's UI to match Bazaar.tf's */
i.itempricesmall,
.entry > span {
	display: none;
}
div.entry {
	height: 124px !important;
}
p.pricy-tf2wh-header {
	font-size: 18px !important;
	padding: 5px 0 2px 0;
}
