.btn-big {
	color: #FDFDFD;
	cursor: pointer;
	font-size: 20px;
	border-radius: 5px;
	border-width: 1px;
	padding: 10px;
}
#cancel {
	background-color: #AA3939;
	border-color: #652D2D;
}
#save {
	background-color: #2BBF2B;
	border-color: #2D882D;
}
.cbxes > span {
	margin-right: 11px;
}
.cbxes > span > input {
	margin-left: 10px;
	margin-right: 6px;
}
#noJS {
	text-align: center;
	font-size: 20px;
	color: red;
}
